html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.date {
  float: right;
}
#root {
  font-family: Palatino, Georgia, serif;
  max-width: 1024px;
  margin: 40px auto;
}
@media (max-width: 1024px) {
  #root {
    width: 80%;
  }
}
.name {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}
.email {
  text-align: center;
  margin: 5px 0 0;
}
.phone {
  text-align: center;
  font-size: 12px;
  margin: 0 0 10px;
}
.table-head {
  font-weight: bold;
  text-align: right;
}
@media (max-width: 768px) {
  .table-head {
    margin-bottom: 10px;
    text-decoration: underline;
  }
}
.item {
  margin-bottom: 11px;
}
.inst,
.title,
.contest,
.award {
  display: inline-block;
  margin-right: 10px;
}
.title,
.award {
  font-style: italic;
}
.inst,
.proj,
.tech,
.contest {
  font-weight: bold;
  margin-right: 10px;
}
.desc {
  opacity: 0.9;
}
.glyphicon {
  font-size: 14px;
  vertical-align: text-top;
  margin-left: 3px;
  opacity: 0.6;
  -ms-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.section:before {
  content: " ";
  display: block;
  width: 90%;
  margin: auto;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 10px;
}
.summary {
  margin: 0 auto 20px;
  width: 95%;
  text-align: justify;
}
a {
  color: #333;
}
.hidden-xs-inline {
  display: inline;
}
@media (max-width: 640px) {
  .hidden-xs-inline {
    display: none;
  }
}
@media print {
  .no-print {
    display: none;
  }
  .col-sm-3,
  .col-sm-8 {
    float: left;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-8 {
    width: 66.66666666666667%;
  }
  .table-head {
    margin-bottom: auto;
    text-decoration: none;
  }
  #root {
    width: 95%;
    margin: 25px auto 5px;
  }
  .item {
    margin-bottom: 5px;
  }
  a[href]:after {
    content: none !important;
  }
  .summary {
    line-height: 15px;
    margin-bottom: 15px;
  }
  .section:before {
    padding-top: 10px;
    margin-top: 7px;
  }
}
