doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var use = { cdn: true, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "thumbnail.png"
- var favicon = "thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Curriculum Vitae - kirby
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body
    #root
      .name Tai Hui Wu / 吳泰輝
      .email tkirby@gmail.com
      .phone +886-911015216 / 0911015216 (Taiwan)
      .summary
        | Cofounder of  g0v.tw and infographics.tw, foundi.info.
        | Expert in web technology and data visualization.
        | Invited lecturer or consultant of media and communication domains in universities including NTU, SHU, NCTU, NCCU, PCCU, FJU, etc.
        | Also a professional photographer specialized in wedding and mountain photography.
      .row.section
        .col-sm-3.table-head EXPERIENCE
        .col-sm-8
          .item
            .date 2015 ~ now
            .inst infographics.tw
            .title Founder
            .desc Dedicated in promoting visualization technologies in Mandarin Community
          .item
            .date 2013 ~ 2015
            .inst: a(href="http://foundi.info",target="_blank") Foundi.info
            i.glyphicon.glyphicon-globe
            .title Co-founder
            .desc Busincess development, marketing, web frontend engineering
          .item
            .date 2015
            .inst: a(href="http://dbootcamp.taipei",target="_blank") d|Bootcamp Taipei
            i.glyphicon.glyphicon-globe
            .title Co-organizer
            .desc Data journalism workshop and crash courses for journalist and related industry
          .item
            .date 2014
            .inst Google Taiwan Digicamp
            .title Technical Consultant
            .desc Consultant focused on web-baed technology and marketing campaign
          .item
            .date 2012 ~ now
            .inst: a(href="http://g0v.tw",target="_blank") g0v.tw
            i.glyphicon.glyphicon-globe
            .title Co-founder
            .desc Taiwan open government community. Contributor and missionary
          .item
            .date 2008 ~ 2013
            .inst Mediatek inc.
            .title Senior Software Engineer
            .desc Linux kernel, system automation / optimization and building system
      .row.section
        .col-sm-3.table-head EDUCATION
        .col-sm-8
          .item
            .date 1999 ~ 2005
            .inst National Taiwan University
            .dept Dept. of Computer Science and Information Engineering
            .title Master Degree

      .row.section
        .col-sm-3.table-head SKILL
        .col-sm-8
          .item
            .date 2012 ~ now
            .tech Data Visualization
            .desc Data crawling and analysis, interactive visualization in D3.js
          .item
            .date 1998 ~ now
            .tech Web Related Technology
            .desc HTML5, JavaScript, Node.js, Django
          .item
            .date 2010 ~ 2013
            .tech Android Open Platform
            .desc Experience in DVM, Android Framework, Building System
          .item
            .date 2008 ~ 2012
            .tech Linux Kernel Driver Development
            .desc Experience with Touch Panel Driver, I2C, AUXADC
      .row.section
        .col-sm-3.table-head PORTFOLIO
        .col-sm-8
          .item.no-print
            .date 2015 ~ now
            .proj 
              a(href="http://blog.infographics.tw",target="_blank") infographics.tw
              i.glyphicon.glyphicon-globe
            .desc Data visualization resources in Mandarin community
          .item
            .date 2014 ~ now
            .proj 
              a(href="http://loading.io",target="_blank") loading.io
              i.glyphicon.glyphicon-globe
            .desc Web designer toolbox
          .item
            .date 2013 ~ now
            .proj 
              a(href="http://zbryikt.github.io/visualize/",target="_blank") zbryikt.github.io/visualize/
              i.glyphicon.glyphicon-globe
            .desc Selected works of visualization projects
          .item.no-print
            .date 2013 ~ 2015
            .proj 
              a(href="http://foundi.info",target="_blank") foundi.info
              i.glyphicon.glyphicon-globe
            .desc Real estate information platform
          .item
            .date 2011 ~ now
            .proj 
              a(href="http://wallpaper.tkirby.org",target="_blank") wallpaper.tkirby.org
              i.glyphicon.glyphicon-globe
            .desc Selected works of photography projects
      .row.section
        .col-sm-3.table-head AWARD
        .col-sm-8
          .item
            .date 2014
            .contest NTU Public News Contest
            .award First Prize / Multimedia News Category
            .desc
              a(href="http://0media.tw/yslin/",target="_blank") Historical Review of Taiwan Democracy Activity and Yi-hsiung Lin
              i.glyphicon.glyphicon-globe.no-print
          .item
            .date 2014
            .contest Open Data Contest
            .award Grand Prize
            .desc Foundi - the Environment Map for Real Estate Industry

          .item
            .date 2013
            .contest Yahoo Hack Day 2013
            .award Honorable Mention
            .desc Legislative Yuan Cinema - Interactive streaming of congress sessions

          .item
            .date 2012
            .contest Yahoo Hack Day 2012
            .award Honorable Mention
            .desc
              a(href="http://budget.g0v.tw",target="_blank") Open Budget - Open + Visualization of Taiwan Government Budget
              i.glyphicon.glyphicon-globe.no-print

